<style>
    a {text-decoration: none; display: block; padding: 8px}
    li {display: block; float: left}
    ul {list-style-type: none; margin: 0; padding: 0; background-color: #dddddd}
</style>

<ul>
    <li><a class="nom" href="/">Index</a></li>
    <li><a class="nom" href="/product">Produits</a></li>
    <li><a class="nom" href="/cart">Panier</a></li>
</ul>